//insert
$("##{name(resource)}_#{params[:neighbor]}").move('#{params[:direct]}', '#{escape_javascript( render(:partial => "#{resource.collection_name}/item", :object => resource, :locals => {:item_counter => 0}))}');

//refresh image
$("##{id(resource)}").parent().find('> li > a').css('background-image', 'url(#{menu_bg_img}?#{Time.now.to_i})');

//resort
$("##{id(resource)}").parent().children().removeAttr('class').each(function(index){
$(this).addClass('menu_' + index);
});

$.modal.close();
