$("#tooltip").trigger('cancle');

//refresh image
$("##{id(resource)}").parent().find('> li > a').css('background-image', 'url(#{menu_bg_img}?#{Time.now.to_i})');

//resort
var parent = $("##{id(resource)}").parent();
//remove
$("##{id(resource)}").remove();
parent.children().removeAttr('class').each(function(index){
$(this).addClass('menu_' + index);
});
