$("#tooltip").trigger('cancle');

//refresh image
$("##{id(resource)} > a").css('background-image', 'url(#{menu_bg_img}?#{Time.now.to_i})');

//update
$("##{id(resource)} > a").attr('href', '#{resource.url}').text('#{resource.name}');
