//hide
$("#tooltip").trigger('cancle');

//insert
-if !params[:neighbor].blank?
  $("##{name(resource)}_#{params[:neighbor]}").move('#{params[:direct]}', '#{escape_javascript( render(:partial => "#{resource.collection_name}/#{partial_name}", :object => resource))}');
-else
  $("##{id(resource.parent)} ul").append('#{escape_javascript( render(:partial => "#{resource.collection_name}/#{partial_name}", :object => resource))}');

$("##{id(resource)}").parent().children().removeClass('no_bar');
$("##{id(resource)}").parent().children(':first').addClass('no_bar');

-if resource.root?
  //reset qtip
  $('##{id(resource)}').each(Container.destroy_assist).each(Container.generate_assist);
-else
  //destroy parent (not empty) ul qtip
  $('##{id(resource)}').parent('.qtip_ul').qtip('destroy');

Admin.refresh();
