//hide
$("#tooltip").trigger('cancle');

//insert
$("##{name(resource)}_#{params[:neighbor]}").move('#{params[:direct]}', '#{escape_javascript( render(:partial => "#{resource.collection_name}/#{partial_name}", :object => resource))}');

$("##{id(resource)}").parent().children().removeClass('no_bar');
$("##{id(resource)}").parent().children(':first').addClass('no_bar');

-if resource.root?
  //reset qtip
  $('##{id(resource)}').each(Container.destroy_assist).each(Container.generate_assist);

Admin.refresh();
