//hide
$("#tooltip").trigger('cancle');

//insert
$("##{name(resource)}_#{params[:neighbor]}").move('#{params[:direct]}', '#{escape_javascript( render(:partial => "#{resource.collection_name}/child", :object => resource))}');


$("##{name(resource)}_#{params[name(resource)][:neighbor]}").parent().children().removeClass('no_bar');
$("##{name(resource)}_#{params[name(resource)][:neighbor]}").parent().children(':first').addClass('no_bar');

Admin.refresh();
