%ul.index_products.model_list.border_black
  %li
    .pic{:style => "height:305px;"}
      %a{:href => "http://www.mbaobao.com/pshow-1103039413.html", :target => "_blank", }
        %img{ :height => "300", :src => "http://img04.mbaobao.com/dudu/201004/14/11030394/13/a2.jpg", :width => "184"}/
    .text
      .title
        %a{:href => "http://www.mbaobao.com/pshow-1103039413.html", :target => "_blank", } [DUDU]珠光宝气系列头层牛皮单肩包 粉红色
      .price
        %span.gray
          市场价：
          %s ￥719.00
        = succeed('.')  do
          %br/
        %span.red_c00.fs14.b ￥238.00
  %li
    .pic{:style => "height:305px;"}
      %a{:href => "http://www.mbaobao.com/pshow-1103030019.html", :target => "_blank"}
        %img{ :height => "300", :src => "http://img01.mbaobao.com/langmei/201005/27/11030300/19/a2.jpg", :width => "184"}/
    .text
      .title
        %a{:href => "http://www.mbaobao.com/pshow-1103030019.html", :target => "_blank"} [浪美]甜心彩漾系列时尚两用包 蓝色
      .price
        %span.gray
          市场价：
          %s ￥340.00
        = succeed('.')  do
          %br/
        %span.red_c00.fs14.b ￥128.00
  %li
    .pic{:style => "height:305px;"}
      %a{:href => "http://www.mbaobao.com/pshow-1101006816.html", :target => "_blank", }
        %img{ :height => "300", :src => "http://img03.mbaobao.com/dudu/201004/20/11010068/16/a2.jpg", :width => "184"}/
    .text
      .title
        %a{:href => "http://www.mbaobao.com/pshow-1101006816.html", :target => "_blank", } [DUDU]浪漫之约系列头层牛皮两用包 桃红色
      .price
        %span.gray
          市场价：
          %s ￥599.00
        = succeed('.')  do
          %br/
        %span.red_c00.fs14.b ￥198.00
  %li
    .pic{:style => "height:305px;"}
      %a{:href => "http://www.mbaobao.com/pshow-1103054216.html", :target => "_blank", }
        %img{ :height => "300", :src => "http://img08.mbaobao.com/dudu/201006/07/11030542/16/a2.jpg", :width => "184"}/
    .text
      .title
        %a{:href => "http://www.mbaobao.com/pshow-1103054216.html", :target => "_blank", } [DUDU]时尚简约抽绳系列牛皮两用包 红色
      .price
        %span.gray
          市场价：
          %s ￥590.00
        = succeed('.')  do
          %br/
        %span.red_c00.fs14.b ￥198.00
  %li
    .pic{:style => "height:305px;"}
      %a{:href => "http://www.mbaobao.com/pshow-1103054117.html", :target => "_blank", }
        %img{ :height => "300", :src => "http://img04.mbaobao.com/dudu/201006/07/11030541/17/a2.jpg", :width => "184"}/
    .text
      .title
        %a{:href => "http://www.mbaobao.com/pshow-1103054117.html", :target => "_blank", } [DUDU]优雅简约系列头层牛皮两用包 湖绿色
      .price
        %span.gray
          市场价：
          %s ￥525.00
        = succeed('.')  do
          %br/
