.clear
%ul.index_products.products_list
  %li
    .pic
      %a{:href => "http://www.mbaobao.com/pshow-10212217.html", :target => "_blank"}
        %img{ :height => "185", :src => "http://img1.mbaobao.com/VEMO/10212217/a1.gif", :width => "185"}/
    .text
      .title
        %a{:href => "http://www.mbaobao.com/pshow-10212217.html", :target => "_blank"} [薇茉]粉红色时尚印花单肩包
      .price
        %span.gray
          市场价：
          %s ￥445.00
        = succeed('.')  do
          %br/
        %span.red_c00.fs14.b ￥146.00
  %li
    .pic
      %a{:href => "http://www.mbaobao.com/pshow-1101024107.html", :target => "_blank", }
        %img{ :height => "185", :src => "http://img07.mbaobao.com/dudu/201004/14/11010241/07/a1.gif", :width => "185"}/
    .text
      .title
        %a{:href => "http://www.mbaobao.com/pshow-1101024107.html", :target => "_blank", } [DUDU]优雅名媛系列牛皮时尚单肩包 杏色
      .price
        %span.gray
          市场价：
          %s ￥610.00
        = succeed('.')  do
          %br/
        %span.red_c00.fs14.b ￥228.00
  %li
    .pic
      %a{:href => "http://www.mbaobao.com/pshow-1102023823.html", :target => "_blank"}
        %img{ :height => "185", :src => "http://img03.mbaobao.com/langmei/201006/04/11020238/23/a1.jpg", :width => "185"}/
    .text
      .title
        %a{:href => "http://www.mbaobao.com/pshow-1102023823.html", :target => "_blank"} [浪美]玫瑰浪漫情怀系列优雅单肩包 黄色
      .price
        %span.gray
          市场价：
          %s ￥358.00
        = succeed('.')  do
          %br/
        %span.red_c00.fs14.b ￥128.00
  %li
    .pic
      %a{:href => "http://www.mbaobao.com/pshow-1104035517.html", :target => "_blank"}
        %img{ :height => "185", :src => "http://img07.mbaobao.com/letsfly/201005/06/11040355/17/a1.jpg", :width => "185"}/
    .text
      .title
        %a{:href => "http://www.mbaobao.com/pshow-1104035517.html", :target => "_blank"} [飞扬空间]休闲心情系列时尚编织单肩包 绿色条纹
      .price
        %span.gray
          市场价：
          %s ￥148.00
        = succeed('.')  do
          %br/
        %span.red_c00.fs14.b ￥47.00
  %li
    .pic
      %a{:href => "http://www.mbaobao.com/pshow-1104044213.html", :target => "_blank", }
        %img{ :height => "185", :src => "http://img01.mbaobao.com/dudu/201006/19/11040442/13/a1.jpg", :width => "185"}/
    .text
      .title
        %a{:href => "http://www.mbaobao.com/pshow-1104044213.html", :target => "_blank", } [DUDU]跃动情怀系列头层牛皮两用包 桃红色
      .price
        %span.gray
          市场价：
          %s ￥649.00
        = succeed('.')  do
          %br/
        %span.red_c00.fs14.b ￥208.00
