//refresh class
-resource_name = controller_name.singularize
// adjust grid's alpha,omega class(except vertical container)
-params[resource_name].each do |resource_id|
  var $this = $("##{resource_name}_#{resource_id}");
  if(!($this.hasClass('alpha') && $this.hasClass('omega'))){
  $this.removeClass('alpha').removeClass('omega');
  }
-unless @first.root?
  $("##{id(@first)}").addClass('alpha');
-unless @last.root?
  $("##{id(@last)}").addClass('omega');

//reposition
$("##{id(@first)}").parent().find('h2.move').each(Container.move);
