%li(title="点击快捷处理订单#{order.number}")
  =link_to order.number, '#', :class => "icon buy_16"
  %ul
    %li 
      .bar_menu_info
        %div
          ==订单号:#{order.number}
          %span{:title=>order.payment.payment_type.name}==[#{order.state_name}]
        %div==收货人:#{order.address_info}
        .list
          %ul.head
            %li(style="width:180px") 产品名称
            %li(style="width:50px") 数量
          -order.items.each do |item|
            -product = item.product
            %ul.item{:class=>cycle(:odd, :even)}
              %li.name(style="width:180px")=s(product.name)
              %li(style="width:50px")=item.quantity
        %div=order.receive_name
        %div
          处理方式:
          = link_to "已发货", '#'
