#order_show
  = render :partial => "pay"
  .box
    .block.first
      -if flash[:success]
        .spotlight=image_tag('templates/common/product/order_success.gif')
      -if flash[:payed]
        %h2.title.spotlight.highlight
          %span  支付成功！
      %h2.title
        %span 订单详情
      .panel
        %ul
          %li==订单号：#{resource.number}　[#{resource.created_at.to_s(:db)}生成订单]
          %li==订单状态：#{resource.state_name}
          %li==支付方式：#{resource.pay_name}
          %li==收货人：#{resource.address_info}
          %li==配送方式：#{resource.delivery_name}
          %li==发货时间：
          %li==送货要求：#{resource.receive_name}
        .summary.total
          应收款金额
          %span
            ￥
            =resource.price_sum
            =link_to_function(image_tag('templates/common/product/pay_now.gif'), "Car.pay('#{resource.id.to_s}', '#{resource.price_sum}')") if resource.state == 'unpay'

    .block.first
      %h2.title
        %span 产品清单
      #car.list
        %ul.head
          %li(style="width:280px") 产品名称
          %li(style="width:70px") 单价
          %li(style="width:100px") 数量
          %li(style="width:100px") 小计
        -resource.items.each do |item|
          -product = item.product
          %ul.item{:class=>cycle(:odd, :even)}
            %li.name(style="width:280px")=link_to s(product.name), product
            %li(style="width:70px")
              ￥
              =item.price
            %li(style="width:100px")=item.quantity
            %li(style="width:100px")
              ￥
              =item.sum

      .summary
        产品数量总计:
        %span=resource.quantity
        %span.unit 件
        产品金额总计：
        %span
          ￥
          =resource.price_sum
      .summary.total
        应收款金额
        %span
          ￥
          =resource.price_sum
