!!!
%html{:lang => "zh-CN", "xml:lang" => "zh-CN", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "zh-CN", "http-equiv" => "Content-Language"}/
    %title 麦包包官网 - 淘宝网商城知名品牌, 开心网购, 就在麦包包！
    %meta{:content => "mbaobao.com", :name => "Copyright"}/
    %meta{ :name => "Keywords"}/
    %meta{ :name => "Description"}/
    -# 在线文字图片合成样式
    = stylesheet_link_tag 'compiled/grid', 'compiled/photomaker', 'photomaker/jgrowl', 'photomaker/images', 'compiled/photomaker/fileuploader'
    =formtastic_stylesheet_link_tag
    = stylesheet_link_tag 'compiled/common', 'compiled/index', 'compiled/page'
    = javascript_include_tag :defaults, 'jquery-ui.custom.min', 'inspect', 'tooltip/tooltip', 'tooltip/tooltip.dynamic', 'tooltip/tooltip.slide', 'admin/admin', 'admin/container_operates'
    -# 在线文字图片合成脚本
    = javascript_include_tag 'photomaker/jgrowl', 'photomaker/jeditable', 'photomaker/jqDnR', 'photomaker/fileuploader', 'tree/cookie', 'tree/hotkeys', 'tree/jstree'
    = javascript_include_tag 'index'
    %style{:type=>'text/css'}
      :sass
        ul#nav li a
          background-image: url(/images/menu/#{current_user.store.pages.homepage.id}.png)
    = csrf_meta_tag
  %body
    = render :partial => "pages/header"
    = render :partial => "pages/main"
    .container_operates.container_24
    /= render :partial => "pages/footer/extra"
    /= render :partial => "pages/footer/links"
    /= render :partial => "pages/footer/company"
    #tooltip.tooltip 测试一下
      
    = javascript_include_tag 'focus'
