$("#tooltip").trigger('cancle');

$("#nav_#{params[:nav][:neighbor]}").move('#{params[:nav][:direct]}', '#{escape_javascript( render(:partial => "navs/item", :object => resource))}');

$("#nav_#{params[:nav][:neighbor]}").parent().children.removeClass('no_bar');
$("#nav_#{params[:nav][:neighbor]}").parent().children(':first').addClass('no_bar');

Admin.refresh();
