//insert
$(".slideshow li[rel_id='#{name(resource)}_#{params[:neighbor]}']").move('#{params[:direct]}', '#{escape_javascript( render(:partial => "#{resource.collection_name}/item", :object => resource, :locals => {:item_counter => 0}))}');

//caption
$(".slideshow").data('slideshow').refresh_caption();

$.modal.close();
