.container_16{:style => 'background-color:white'}
  #photomaker
    =hidden_field_tag 'current_word', image.words.size
    =hidden_field_tag 'words_size', image.words.size
    =hidden_field_tag 'backgrounds_size', image.backgrounds.size

    =hidden_field_tag 'relate_dom_id', params[:relate_dom_id]
    =hidden_field_tag 'callback_url', params[:callback_url]
    #file-uploader
    #menu
      %ul
        %li=link_to '', '#', :title => '添加文字', :class => :add, :id => :add_word
        %li=link_to '', '#', :title => '上传图片', :class => :upload, :id => :upload_background
        %li=link_to '', '#', :title => '生成图片', :class => :generate, :id => :generate_image, :style => 'display:none'
        %li.separator
      %ul{:name => :font}
        %li=link_to '', '#', :title => '字体:微软雅黑', :value => :yahei, :class => :yahei
        %li=link_to '', '#', :title => '字体:华康海报', :value => :haibao, :class => :haibao
        %li=link_to '', '#', :title => '字体:华康柳叶', :value => :liuye, :class => :liuye
        %li=link_to '', '#', :title => '字体:方正卡通', :value => :katong, :class => :katong
        %li.separator
      %ul{:name => 'font-size'}
        %li=link_to '', '#', :title => '字体大小:12px', :value => '12px', :class => 'small'
        %li=link_to '', '#', :title => '字体大小:24px', :value => '24px', :class => 'middle'
        %li=link_to '', '#', :title => '字体大小:36px', :value => '36px', :class => 'big'
        %li.separator
      %ul.color{:name => :color}
        %li=link_to '', '#', :title => '字体颜色:红色', :value => '#E60012', :class => 'red'
        %li=link_to '', '#', :title => '字体颜色:绿色', :value => '#8ABC35', :class => 'green'
        %li=link_to '', '#', :title => '字体颜色:蓝色', :value => '#3C87C3', :class => 'blue'
      %ul
        %li.separator
        %li.panel_bg=link_to '', '#', :title => '面板大小:Logo(宽251px,高44px)', :class => :logo_bg
        %li.panel_bg=link_to '', '#', :title => '面板大小:轮播广告(宽960px,高70px)',  :class => :banner_bg
        %li.panel_bg=link_to '', '#', :title => '面板大小:通栏横幅(宽725px,高391px)',  :class => :focus_bg

    #panel
      -image.words.each_with_index do |word, index|
        .editable.jqDnR.jqDrag.word{:tmp_id => index, 'word-font' => word.font, 'word-font-size' => word.attributes['font-size'], 'word-color' => word.color, :style => "left: #{word.x}px; top: #{word.y}px; color: #{word.color}; font-family: #{word.font}; font-size: #{word.attributes['font-size']}"}=word.text
      .jqHandle.jqResize

#log.container_16

-unless image.new_record?
  :javascript
    $('#panel').attr('image-id', '#{image.id}').width(#{image.width}).height(#{image.height});

:javascript
  Word = {
    init: function(word){
      //保留当前文字
      word.click(function(){
        var item = $(this);
        $('#current_word').val(word.attr('tmp_id'));
        //回显选中的文字参数
        $("#menu ul[name]").each(function(i){
          var name = $(this).attr('name');
          var value = item.attr('word-' + name);
          $('a', $(this)).removeClass('selected');
          $("a[value='" + value + "']", $(this)).addClass('selected');
        });
      });

      //可拖动
      word.jqDrag(null, '#panel').bind('drag.stop', function(){
        //修正:click会发送两次请求
        //$('#generate_image').click();
        $('#generate_image').dblclick();
      });

      //可编辑
      word.editable(
        //target为url时提交至服务器，为function则本地执行
        function(text){
          return text;
        },{
        //失焦时提交
        onblur : 'submit',
        //双击进入输入状态
        event  : 'dblclick',
        //input为inline,则form也应为inline,否则布局会乱
        cssclass : 'form_inline',
        callback : function(value, settings) {
          $('#generate_image').click();
        }
      });

      //设置当前文字
      word.click();
    }
  };

  $().ready(function(){
    var uploader = new AjaxUpload('upload_background', {
      name: 'background[file]',
      //name: 'image[backgrounds][0][file]',
      //params: { _method: 'put' },
      // path to server-side upload script
      //修正:以js format访问，结果会带上pre标记
      //action: '/images/upload.js',
      action: '/images/upload',
      onSubmit: function(file, extension){
        var csrf_token = $('meta[name=csrf-token]').attr('content'),
            csrf_param = $('meta[name=csrf-param]').attr('content'),
            data = {};
        data[csrf_param] = csrf_token;
        var id = $('#panel').attr('image-id');
        data['id'] = id ? id : '';
        data['background[tmp_id]'] = $('#backgrounds_size').val();
        $('#backgrounds_size').val(parseInt($('#backgrounds_size').val()) + 1);
        this.setData(data);
      },
      onComplete: function(file, response){ eval(response); }
    });

    //面板可修改大小
    $('#panel').jqResize('.jqResize').bind('drag.stop', function(){
      $('#generate_image').click();
    });

    $('.word').each(function(){
      Word.init($(this));
    });

    var words_size = #{resource.words.size};
    //添加操作
    $('#add_word').click(function(){
      var word = $("<div class='editable jqDnR jqDrag word'>ShopQi</div>").appendTo('#panel');
      //修正:添加时文字会移至中间
      word.css('left', '0');
      word.attr('tmp_id', $('#words_size').val());
      $('#words_size').val(parseInt($('#words_size').val()) + 1);

      //初始化文字属性
      $("#menu ul[name]").each(function(i){
        var attribute = $("li:not(.label):first a", $(this));
        var name = $(this).attr('name');
        var value = attribute.attr('value');
        word.attr('word-' + name, value);
        //设置字体大小、颜色，字体暂不设置(浏览器没有这些字体)
        word.css(name, value);
        //$.jGrowl(attribute.attr('value'));
      });

      Word.init(word);
    });

    //生成图片
    $('#generate_image').click(function(){
      if($('.word, .background').size() == 0)
        return;
      //面板参数
      var data = {
        image: {
          width: $('#panel').width(),
          height: $('#panel').height(),
          words: {},
          backgrounds: {}
        }
      };
      //文字参数
      $('.word').each(function(){
        var item = $(this);
        var word = {
          x: item.position().left,
          y: item.position().top,
          text: item.text(),
          tmp_id: item.attr('tmp_id'),
          id: item.attr('word-id')
        }
        $("#menu ul[name]").each(function(i){
          var name = $(this).attr('name')
          word[name] = item.attr('word-' + name);
        });
        data['image']['words'][item.attr('tmp_id')] = word;
      });
      //背景属性
      $('.background').each(function(){
        var item = $(this);
        var background = {
          x: item.position().left,
          y: item.position().top,
          tmp_id: item.attr('tmp_id'),
          id: item.attr('background-id')
        }
        data['image']['backgrounds'][item.attr('tmp_id')] = background;
      });

      var url = '/images';
      //更新
      if($('#panel').attr('image-id')){
        url += '/' + $('#panel').attr('image-id');
        data['_method'] = 'put';
      }
      $.post(url, data, null, 'script');
      //$('#preview').html('正在生成图片');
    });

    //修改文字属性
    $('#menu ul[name] a').click(function(){
      var current = $(".word[tmp_id='" + $('#current_word').val() + "']");
      if(current[0]){
        var parent = $(this).parents('ul');
        $('a', parent).removeClass('selected');
        $(this).addClass('selected');
        var name = parent.attr('name');
        var value = $(this).attr('value');
        if(name == 'color' || name == 'font-size')
          current.css(name, value);
        current.attr('word-' + name, value);
        //立即生成图片
        $('#generate_image').click();
        if(name == 'font')
          current.css('font-family', value);
        //$.jGrowl('修改属性' + name + ':' + value);
      }else{
        $.jGrowl("请先点击最左边的按钮添加文字.");
      }
    });

    //面板大小调整按钮
    $('.panel_bg a').click(function(){
      $.jGrowl($(this).attr('title'));
      var width = /宽(\d+)(px)?/.exec($(this).attr('title'))[1];
      var height = /高(\d+)(px)?/.exec($(this).attr('title'))[1];
      $('#panel').width(parseInt(width)).height(parseInt(height));
    });
  });
