-unless Subdomain.matches?(request)
  !!! Strict
  %html{html_attrs('zh-CN')}
    %head
      %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
      %title ShopQi 适合中小企业的网店平台
      = stylesheet_link_tag "main"
      =formtastic_stylesheet_link_tag
      = javascript_include_tag :defaults
      = csrf_meta_tag
    %body
      #wrapper{:class => "b#{action_name}"}
        %ul#quicklinks
          %li#signup=link_to '注册试用', new_user_registration_path
          %li#manage=link_to '登录管理您的网店', new_user_session_path
        #header
          .wrapper
            %h1=link_to 'ShopQi', root_path
            %h2 专为您打造的网店平台
            -if is_home?
              %p
                您一直想进军电子商务，将业务拓展至全国，乃至全球。
                您希望有一个安全稳定的网店平台，包含电子商务的所有功能，操作简单，越傻瓜越好。
                这样就不用再浪费时间精力去选购服务器、安装程序，处理技术问题。
                %br
                如您所愿，选择ShopQi网店平台，省时！省力！省心！
            %ul#navigation
              %li#our=link_to '首页', root_path
              %li#why=link_to '为何选择ShopQi', why_path
              %li#fea=link_to '功能列表', features_path
              %li#que=link_to '常见问题', questions_path
              %li#con=link_to '联系我们', contact_path
              %li#new=link_to '免费试用', new_user_registration_path
        = yield
        #footer
          %p#copyright
            Copyright 2010 ShopQi.com Inc.All Rights Reserved.
          %p
            %a{:href => "#"} 使用协议
            |
            %a{:href => "#"} 隐私条款
-else
  !!! Strict
  %html{html_attrs('zh-CN'),:class => "login"}
    %head
      %title=store_title
      %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
      = stylesheet_link_tag "screen"
    %body
      =yield
