!!!
%html{:lang => "zh-CN", "xml:lang" => "zh-CN", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "zh-CN", "http-equiv" => "Content-Language"}/
    %title 麦包包官网 - 淘宝网商城知名品牌, 开心网购, 就在麦包包！
    %meta{:content => "mbaobao.com", :name => "Copyright"}/
    %meta{ :name => "Keywords"}/
    %meta{ :name => "Description"}/
    -# 在线文字图片合成样式
    = stylesheet_link_tag 'compiled/grid'
    =formtastic_stylesheet_link_tag
    = stylesheet_link_tag "compiled/templates/#{template}", 'compiled/page', 'pages/dynamic.css'
    = javascript_include_tag :defaults, 'car'
    =yield :extra_head
    = csrf_meta_tag
  %body
    = render :partial => "pages/header"

    #content
      #members
        .container_24
          .grid_24.root
            .grid_5.alpha= render :partial => "/members/menus"
            .grid_19.omega=yield
