!!!
%html{:lang => "zh-CN", "xml:lang" => "zh-CN", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "zh-CN", "http-equiv" => "Content-Language"}/
    %title=store_title
    %meta{:content => request.domain, :name => "Copyright"}/
    %meta{:content => store.keywords, :name => "Keywords"}/
    %meta{:content => store.description, :name => "Description"}/
    -# 在线文字图片合成样式
    = stylesheet_link_tag 'compiled/grid', 'compiled/photomaker', 'photomaker/jgrowl', 'photomaker/images', 'compiled/photomaker/fileuploader'
    =formtastic_stylesheet_link_tag
    = stylesheet_link_tag "compiled/templates/#{template}", 'compiled/page', 'pages/dynamic.css', 'compiled/slideshow'
    = stylesheet_link_tag "compiled/config" if config?
    = javascript_include_tag :defaults, 'jquery-ui.custom.min', 'photomaker/jgrowl'
    -# 在线文字图片合成脚本
    = javascript_include_tag 'jeditable/jeditable', 'photomaker/jqDnR', 'photomaker/fileuploader', 'tree/cookie', 'tree/hotkeys', 'tree/jstree', 'hotkeys'
    = javascript_include_tag 'inspect', 'tooltip/edittip', 'tooltip/simplemodal.min', 'tooltip/qtip', 'admin/admin', 'admin/container' if config?
    = javascript_include_tag 'index', 'slideshow', 'accordion', 'car'
    =yield :extra_head
    = csrf_meta_tag
  %body
    =yield
    -if config?
      #tooltip.tooltip 
      #loading-indicator
        =image_tag 'loading.gif'
        正在处理，请稍候...
    /= render :partial => "shared/color" if development?
